$primary: #26AF64;
$secondary: #e98a15;
$tertiary: #2a76dd;
$quaternary: #ff170d;
$fifth-color: #f9c80e;
// $fourth-colour: #311847;
// $font-family-sans-serif:  "Commissioner", "Source Sans Pro", Helvetica, sans-serif, !default;
// $presentation-font-size-root: 40px;
//$body-bg: #fcfbf9; // This is slightly darker white, you could tell png backgrounds
$body-bg: #fefefe; // This is pure white
$presentation-heading-color: $primary;
// Chance stuff original 36px
$presentation-font-size-root: 32px; // Use 40px when width 1600 height 900

$link-color: $primary;

/*-- scss:rules --*/

.primary {color: $primary;}
.secondary {color: $secondary;}
.tertiary {color: $tertiary;}
.quaternary {color: $quaternary;}
.fifth-color {color: $fifth-color;}

.thanks {
  h1 {
    text-align: center !important;
    font-size: 4em !important;
  }
}

// Smaller figure caption size https://github.com/quarto-dev/quarto-cli/discussions/5014
.reveal {
  .slides {
    .slide {
      figure {
        figcaption {
          font-size: 0.5em;
        }
      }
    }
  }
}


/* Overwrite footer */
// .reveal .footer {
//   position:fixed !important;
//   left:20px !important;
//   bottom:20px !important;
//   z-index:1 !important;
//   right:0 !important;
//   width: 50% !important;
//   margin: 0px 0px 0px auto !important;

// }
/* Make footnote smaller */
.reveal .slide aside .aside-footnotes {
  font-size: 14px;
}
